* text=auto !eol
ELFLoader_lg8/C6Cv53/Exe/patch_esi_bl.txt -text
ELFLoader_lg8/C6Cv53/Exe/swilib.vkp -text
ELFLoader_lg8/C7Cv22/Exe/patch_esi_bl.txt -text
ELFLoader_lg8/C7Cv22/Exe/swilib.vkp -text
ELFLoader_lg8/CX6Cv50/Exe/patch_esi_bl.txt -text
ELFLoader_lg8/CX6Cv50/Exe/swilib.vkp -text
ELFLoader_lg8/CX7Av25/Exe/patch_esi_bl.txt -text
ELFLoader_lg8/CX7Av25/Exe/swilib.vkp -text
ELFLoader_lg8/CX7Cv50/Exe/patch_esi_bl.txt -text
ELFLoader_lg8/CX7Cv50/Exe/swilib.vkp -text
ELFLoader_lg8/E71Cv41/Exe/API.vkp -text
ELFLoader_lg8/E71Cv41/Exe/swilib.vkp -text
ELFLoader_lg8/ELFLoader.ewp -text
ELFLoader_lg8/ESI.asm -text
ELFLoader_lg8/EXT2.asm -text
ELFLoader_lg8/ElfLoader.eww -text
ELFLoader_lg8/FSWI.asm -text
ELFLoader_lg8/IMB.asm -text
ELFLoader_lg8/Lg8/C6Cv53.xcl -text
ELFLoader_lg8/Lg8/C7Cv22.xcl -text
ELFLoader_lg8/Lg8/CX6Cv50.xcl -text
ELFLoader_lg8/Lg8/CX7Av25.xcl -text
ELFLoader_lg8/Lg8/CX7Cv50.xcl -text
ELFLoader_lg8/Lg8/E71Cv41.xcl -text
ELFLoader_lg8/Lg8/M6Cv50.xcl -text
ELFLoader_lg8/Lg8/S68Cv51.xcl -text
ELFLoader_lg8/Lg8/S6Cv53.xcl -text
ELFLoader_lg8/Lg8/S7Cv47.XCL -text
ELFLoader_lg8/Lg8/SK6Cv50.xcl -text
ELFLoader_lg8/Lg8/SL6Cv50.xcl -text
ELFLoader_lg8/Lg8/SL7Cv47.xcl -text
ELFLoader_lg8/Lg8/rets_C6Cv53.asm -text
ELFLoader_lg8/Lg8/rets_C7Cv22.asm -text
ELFLoader_lg8/Lg8/rets_CX6Cv50.asm -text
ELFLoader_lg8/Lg8/rets_CX7Av25.asm -text
ELFLoader_lg8/Lg8/rets_CX7Cv50.asm -text
ELFLoader_lg8/Lg8/rets_E71Cv41.asm -text
ELFLoader_lg8/Lg8/rets_M6Cv50.asm -text
ELFLoader_lg8/Lg8/rets_S68Cv51.asm -text
ELFLoader_lg8/Lg8/rets_S6Cv53.asm -text
ELFLoader_lg8/Lg8/rets_S7Cv47.asm -text
ELFLoader_lg8/Lg8/rets_SK6Cv50.asm -text
ELFLoader_lg8/Lg8/rets_SL6Cv50.asm -text
ELFLoader_lg8/Lg8/rets_SL7Cv47.asm -text
ELFLoader_lg8/M6Cv50/Exe/patch_esi_bl.txt -text
ELFLoader_lg8/S68Cv51/Exe/swilib.vkp -text
ELFLoader_lg8/S6Cv53/Exe/patche_esi_bl.txt -text
ELFLoader_lg8/SK6Cv50/Exe/Cut[!!-~]heap.vkp -text
ELFLoader_lg8/SK6Cv50/Exe/patch_esi_bl.txt -text
ELFLoader_lg8/SK6Cv50/Exe/swilib.vkp -text
ELFLoader_lg8/SL6Cv50/Exe/patch_esi_bl.txt -text
ELFLoader_lg8/additional.c -text
ELFLoader_lg8/conf_loader.c -text
ELFLoader_lg8/conf_loader.h -text
ELFLoader_lg8/config_data.c -text
ELFLoader_lg8/elfloader.cpp -text
ELFLoader_lg8/png.c -text
