* text=auto !eol
CfgEdit/CfgEdit.ewp -text
CfgEdit/CfgEdit.eww -text
CfgEdit/CfgEdit_IAR_old.ewp -text
CfgEdit/CfgEdit_IAR_old.eww -text
CfgEdit/func.asm -text
CfgEdit/main.c -text
CfgEdit/test.xcl -text
CfgEdit/visual.c -text
ELFLoader_lg8/C6Cv53/Exe/ELFLoader_C6Cv53.vkp -text
ELFLoader_lg8/C6Cv53/Exe/patch_esi_bl.txt -text
ELFLoader_lg8/C6Cv53/Exe/swilib.vkp -text
ELFLoader_lg8/C7Cv22/Exe/ELFLoader_C7Cv22.vkp -text
ELFLoader_lg8/C7Cv22/Exe/patch_esi_bl.txt -text
ELFLoader_lg8/C7Cv22/Exe/swilib.vkp -text
ELFLoader_lg8/CX6Cv50/Exe/ELFLoader_CX6Cv50.vkp -text
ELFLoader_lg8/CX6Cv50/Exe/patch_esi_bl.txt -text
ELFLoader_lg8/CX6Cv50/Exe/swilib.vkp -text
ELFLoader_lg8/CX7Av25/Exe/ELFLoader_CX7AV25.vkp -text
ELFLoader_lg8/CX7Av25/Exe/patch_esi_bl.txt -text
ELFLoader_lg8/CX7Av25/Exe/swilib.vkp -text
ELFLoader_lg8/CX7Cv50/Exe/ELFLoader_CX7Cv50.vkp -text
ELFLoader_lg8/CX7Cv50/Exe/patch_esi_bl.txt -text
ELFLoader_lg8/CX7Cv50/Exe/swilib.vkp -text
ELFLoader_lg8/E71Cv41/Exe/API.vkp -text
ELFLoader_lg8/E71Cv41/Exe/swilib.vkp -text
ELFLoader_lg8/ELFLoader.ewp -text
ELFLoader_lg8/ESI.asm -text
ELFLoader_lg8/EXT2.asm -text
ELFLoader_lg8/ElfLoader.eww -text
ELFLoader_lg8/FSWI.asm -text
ELFLoader_lg8/IMB.asm -text
ELFLoader_lg8/Lg8/C6Cv53.xcl -text
ELFLoader_lg8/Lg8/C7Cv22.xcl -text
ELFLoader_lg8/Lg8/CX6Cv50.xcl -text
ELFLoader_lg8/Lg8/CX7Av25.xcl -text
ELFLoader_lg8/Lg8/CX7Cv50.xcl -text
ELFLoader_lg8/Lg8/E71Cv41.xcl -text
ELFLoader_lg8/Lg8/M6Cv50.xcl -text
ELFLoader_lg8/Lg8/M81Cv51.xcl -text
ELFLoader_lg8/Lg8/S68Cv51.xcl -text
ELFLoader_lg8/Lg8/S6Cv53.xcl -text
ELFLoader_lg8/Lg8/S7Cv47.XCL -text
ELFLoader_lg8/Lg8/SK6Cv50.xcl -text
ELFLoader_lg8/Lg8/SL6Cv50.xcl -text
ELFLoader_lg8/Lg8/SL7Cv47.xcl -text
ELFLoader_lg8/Lg8/rets_C6Cv53.asm -text
ELFLoader_lg8/Lg8/rets_C7Cv22.asm -text
ELFLoader_lg8/Lg8/rets_CX6Cv50.asm -text
ELFLoader_lg8/Lg8/rets_CX7Av25.asm -text
ELFLoader_lg8/Lg8/rets_CX7Cv50.asm -text
ELFLoader_lg8/Lg8/rets_E71Cv41.asm -text
ELFLoader_lg8/Lg8/rets_M6Cv50.asm -text
ELFLoader_lg8/Lg8/rets_M81Cv51.asm -text
ELFLoader_lg8/Lg8/rets_S68Cv51.asm -text
ELFLoader_lg8/Lg8/rets_S6Cv53.asm -text
ELFLoader_lg8/Lg8/rets_S7Cv47.asm -text
ELFLoader_lg8/Lg8/rets_SK6Cv50.asm -text
ELFLoader_lg8/Lg8/rets_SL6Cv50.asm -text
ELFLoader_lg8/Lg8/rets_SL7Cv47.asm -text
ELFLoader_lg8/M6Cv50/Exe/ELFLoader_m6cv50.vkp -text
ELFLoader_lg8/M6Cv50/Exe/patch_esi_bl.txt -text
ELFLoader_lg8/M6Cv50/Exe/swilib.vkp -text
ELFLoader_lg8/M81Cv51/API.vkp -text
ELFLoader_lg8/M81Cv51/ELFLoader.vkp -text
ELFLoader_lg8/M81Cv51/swilib.vkp -text
ELFLoader_lg8/S68Cv51/Exe/swilib.vkp -text
ELFLoader_lg8/S6Cv53/Exe/ELFLoader_S6Cv53.vkp -text
ELFLoader_lg8/S6Cv53/Exe/patche_esi_bl.txt -text
ELFLoader_lg8/S6Cv53/Exe/swilib.vkp -text
ELFLoader_lg8/SK6Cv50/Exe/Cut[!!-~]heap.vkp -text
ELFLoader_lg8/SK6Cv50/Exe/ELFLoader_SK6Cv50.vkp -text
ELFLoader_lg8/SK6Cv50/Exe/patch_esi_bl.txt -text
ELFLoader_lg8/SK6Cv50/Exe/swilib.vkp -text
ELFLoader_lg8/SL6Cv50/Exe/ELFLoader_sl6cv50.vkp -text
ELFLoader_lg8/SL6Cv50/Exe/patch_esi_bl.txt -text
ELFLoader_lg8/SL6Cv50/Exe/swilib.vkp -text
ELFLoader_lg8/additional.c -text
ELFLoader_lg8/conf_loader.c -text
ELFLoader_lg8/conf_loader.h -text
ELFLoader_lg8/config_data.c -text
ELFLoader_lg8/elfloader.cpp -text
ELFLoader_lg8/png.c -text
ExtD/ExtD.ewp -text
ExtD/ExtD.eww -text
ExtD/extension.cfg -text
ExtD/func.asm -text
ExtD/img/BCFG_LARGE.PNG -text
ExtD/img/BCFG_SMALL.PNG -text
ExtD/img/TXT_LARGE.png -text
ExtD/img/TXT_SMALL.png -text
ExtD/img/UNK_LARGE.PNG -text
ExtD/img/UNK_SMALL.PNG -text
ExtD/main.c -text
ExtD/test.xcl -text
KeyExten/KeyExten.ewp -text
KeyExten/KeyExten.eww -text
KeyExten/conf_loader.c -text
KeyExten/conf_loader.h -text
KeyExten/config_data.c -text
KeyExten/func.asm -text
KeyExten/main.c -text
KeyExten/test.xcl -text
LaunchElf/Launch_elf.ewp -text
LaunchElf/Launch_elf.eww -text
LaunchElf/Launch_elf.xcl -text
LaunchElf/additional.c -text
LaunchElf/start_elf.bcfg -text
MC/Bookmarks.c -text
MC/ColorMap.c -text
MC/FileOp.c -text
MC/Files/classic.mccs -text
MC/Files/faq.txt -text
MC/Files/far.mccs -text
MC/Files/key_cmds.txt -text
MC/Files/mckeys.cfg -text
MC/Files/orange.mccs -text
MC/Files/readme.txt -text
MC/Inc/ColorMap.h -text
MC/Inc/color.h -text
MC/Inc/conf_loader.h -text
MC/Inc/config.h -text
MC/Inc/encode.h -text
MC/Inc/gui.h -text
MC/Inc/lng.h -text
MC/Inc/mc.h -text
MC/Inc/mui.h -text
MC/Inc/sort.h -text
MC/Inc/zslib.h -text
MC/Langs/czech.mclg -text
MC/Langs/english.mclg -text
MC/Langs/russian.mclg -text
MC/Langs/ukrainian.mclg -text
MC/MC.sln -text
MC/MC.vcproj -text
MC/TextInput.c -text
MC/ZLib/ADLER32.C -text
MC/ZLib/COMPRESS.C -text
MC/ZLib/CRC32.C -text
MC/ZLib/CRC32.H -text
MC/ZLib/DEFLATE.H -text
MC/ZLib/INFFAST.C -text
MC/ZLib/INFFAST.H -text
MC/ZLib/INFFIXED.H -text
MC/ZLib/INFLATE.C -text
MC/ZLib/INFLATE.H -text
MC/ZLib/INFTREES.C -text
MC/ZLib/INFTREES.H -text
MC/ZLib/TREES.C -text
MC/ZLib/TREES.H -text
MC/ZLib/UNCOMPR.C -text
MC/ZLib/ZLIB.H -text
MC/ZLib/ZUTIL.C -text
MC/ZLib/Zconf.h -text
MC/ZLib/deflate.c -text
MC/ZLib/minizip/crypt.h -text
MC/ZLib/minizip/ioapi.c -text
MC/ZLib/minizip/ioapi.h -text
MC/ZLib/minizip/unzip.c -text
MC/ZLib/minizip/unzip.h -text
MC/ZLib/minizip/zip.c -text
MC/ZLib/minizip/zip.h -text
MC/ZLib/zutil.h -text
MC/conf_loader.c -text
MC/config.c -text
MC/config_data.c -text
MC/dprop.c -text
MC/encode.c -text
MC/exts.c -text
MC/fn_list.c -text
MC/fprop.c -text
MC/fslib.c -text
MC/func.asm -text
MC/gui.c -text
MC/keys.c -text
MC/krnl.c -text
MC/main.c -text
MC/mc.ewp -text
MC/mc.eww -text
MC/menus.c -text
MC/mkall.cmd -text
MC/mksgold.cmd -text
MC/mui.c -text
MC/postbuild.cmd -text
MC/publish.cmd -text
MC/quicksort.c -text
MC/slib.c -text
MC/sort.c -text
MC/test.xcl -text
MC/zslib.c -text
MegaDial/MegaDial.ewp -text
MegaDial/MegaDial.eww -text
MegaDial/conf_loader.c -text
MegaDial/conf_loader.h -text
MegaDial/config_data.c -text
MegaDial/func.asm -text
MegaDial/main.c -text
MegaDial/test.xcl -text
Menu/Menu.ewp -text
Menu/Menu.eww -text
Menu/div.r79 -text
Menu/func.asm -text
Menu/main.c -text
Menu/main.h -text
Menu/test.xcl -text
TED/TED.ewp -text
TED/TED.eww -text
TED/TED/14.fnt -text
TED/TED/16.fnt -text
TED/TED/4.fnt -text
TED/TED/6.fnt -text
TED/TED/8.fnt -text
TED/TED/readme.txt -text
TED/config_data.c -text
TED/convert_format.c -text
TED/convert_simple.c -text
TED/def_code.c -text
TED/div.r79 -text
TED/func.asm -text
TED/linework.c -text
TED/main.c -text
TED/saver.c -text
TED/test.xcl -text
TMOEditor/TMO.ewp -text
TMOEditor/TMO.eww -text
TMOEditor/conf_loader.c -text
TMOEditor/conf_loader.h -text
TMOEditor/config_data.c -text
TMOEditor/func.asm -text
TMOEditor/main.c -text
TMOEditor/tmo.xcl -text
TMOEditor/upload2phone.cmd -text
TextInfo/TextInfo.ewp -text
TextInfo/TextInfo.eww -text
TextInfo/TextInfo.h -text
TextInfo/conf_loader.c -text
TextInfo/conf_loader.h -text
TextInfo/config_data.c -text
TextInfo/func.asm -text
TextInfo/local_ipc.h -text
TextInfo/main.c -text
TextInfo/test.xcl -text
TurnOff/TurnOff.ewp -text
TurnOff/TurnOff.eww -text
TurnOff/TurnOff/off.png -text
TurnOff/TurnOff/reboot.png -text
TurnOff/TurnOff/sleep.png -text
TurnOff/conf_loader.c -text
TurnOff/conf_loader.h -text
TurnOff/config_data.c -text
TurnOff/func.asm -text
TurnOff/main.c -text
TurnOff/test.xcl -text
XTASK3/XTask3.ewp -text
XTASK3/XTask3.eww -text
XTASK3/conf_loader.c -text
XTASK3/conf_loader.h -text
XTASK3/config_data.c -text
XTASK3/func.asm -text
XTASK3/gui.c -text
XTASK3/main.c -text
XTASK3/rect_patcher.h -text
XTASK3/swaper.c -text
XTASK3/swaper.h -text
XTASK3/test.xcl -text
cpumon/conf_loader.c -text
cpumon/conf_loader.h -text
cpumon/config.c -text
cpumon/cpumon.ewp -text
cpumon/cpumon.eww -text
cpumon/func.asm -text
cpumon/main.c -text
cpumon/strlib.c -text
cpumon/strlib.h -text
cpumon/test.xcl -text
inc/bn.h -text
inc/cfg_items.h -text
inc/crypto.h -text
inc/gpslogger_ipc.h -text
inc/mplayer.h -text
inc/playsound.h -text
inc/png.h -text
inc/pngconf.h -text
inc/pnglist.h -text
inc/rsa.h -text
inc/sha.h -text
inc/swilib.h -text
inc/xtask_ipc.h -text
inc/zconf.h -text
inc/zlib.h -text
mini_GPS/conf_loader.c -text
mini_GPS/conf_loader.h -text
mini_GPS/config_data.c -text
mini_GPS/func.asm -text
mini_GPS/main.c -text
mini_GPS/mini_gps.ewp -text
mini_GPS/mini_gps.eww -text
mini_GPS/mini_gps.xcl -text
